<div>
  <div *ngIf="tasks">
    <div class="individual-header-container">
      <h2 class="individual-header panel-heading">
        {{ tasks[0].assignee }}
      </h2>
    </div>

    <div *ngFor="let task of tasks; index as i" class="individual-tasks-container col-md-12" >
      <div class="individual-task-container">
        <span class="col-md-3">
        {{ i + 1 }}
        </span>
          <span class="col-md-6">
            {{ task.task }}
        </span>
          <span class="col-md-3">
            {{ task.assignee }}
        </span>
      </div>

    </div>
  </div>

  <div class="individual-button-container col-md-12">
    <button (click)="goBack()"
            class="individual-button btn btn-danger">
      Go Back To View Entry List
    </button>
  </div>


</div>

